.main{
    display:flex;
    flex-wrap: wrap;
    height:100px
    text-align:center;
}

.column1{
    width: 20px;
    background-color: orange;

}
.column2{
    width:80px;
    background-color: aquamarine;
}
.column3{
    width:20px;
    background-color: rgb(15, 148, 103);
}
header,footer{
    background-color: aliceblue;
    text-align: center;
}