.container{
    display:flex;
    flex-direction: row;
    background-color: purple;
}

.box{
    width: 200px;
    height: 400px;
    text-align: center;
    background-color: orange;
    margin:8px;
}

.container2.box3{
    flex-shrink: 2;
}c